html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.MuiFormControl-root.MuiFormControl-root {
  min-width: 250px;
  margin: 20px;
}

.message-alt {
  margin-left: 25px;
  margin: 50px 0;
  font-size: 18px;
  background: #eaeaea;
  padding: 10px;
}

.MuiInputBase-inputMultiline.MuiInputBase-inputMultiline {
  min-height: 96px;
}

.MuiInput-input.MuiInput-input {
  width: 250px;
}
